@import 'tailwindcss';

/*@import "tw-animate-css";*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;

  --breakpoint-mic: 17.5625rem;   /* 281px */
  --breakpoint-mic2: 20.625rem;   /* 330px */
  --breakpoint-xs: 25rem;         /* 400px */
  --breakpoint-xsm: 33.75rem;     /* 540px */
  --breakpoint-xsm2: 36.25rem;    /* 580px */
  --breakpoint-sm: 40rem;         /* 640px */
  --breakpoint-md: 48rem;         /* 768px */
  --breakpoint-md2: 53.125rem;    /* 850px */
  --breakpoint-md3: 56rem;        /* 896px */
  --breakpoint-lg: 64rem;         /* 1024px */
  --breakpoint-xl: 80rem;         /* 1280px */
  --breakpoint-2xl: 96rem;        /* 1536px */
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
  --echo-dark-400: #012336;
  --echo-dark-500: #000508;
}

*{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;scroll-behavior: smooth;}
*:focus {outline: 0 !important;box-shadow:none !important;}

.bdr { @apply border-neutral-200 }

button {
  cursor: pointer;
}

.barlow-condensed-regular, .blw-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-semibold, .blw-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold, .blw-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  

.btn-grad {
  @apply bg-linear-to-b from-blue-500 to-blue-700
}

.btn-grad-dark {
  @apply bg-linear-to-b from-blue-900 bg-blue-950
}

.btns {
  @apply text-sm text-white font-semibold rounded-full p-4 hover:opacity-90
}

.btns-sm {
  @apply text-sm text-white rounded-full px-3 py-1.5
}

.grad {
  @apply bg-radial from-sky-600 to-[#000508]
}

.text-dark { color: var(--echo-dark-400) }
.text-primary { @apply text-blue-500 }


.opacity-hide { @apply opacity-0 }
.opacity-show { @apply opacity-100 }

.pagination {
  @apply flex items-center justify-between text-sm text-black/65 py-2
}
.pagination .page-links {
  @apply  flex space-x-2
}
.pagination a {
  @apply  border rounded-md px-3 py-1 border-neutral-200 hover:bg-neutral-200/80
}

.input {
  @apply text-neutral-700 border border-neutral-300 placeholder:text-neutral-400 flex h-9 w-full min-w-0 rounded-md bg-transparent px-3 py-1 text-sm outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-blue-500
}
textarea.input {
  @apply pt-1.5
}

.countdown {
  @apply flex flex-col items-center text-lg sm:text-xl text-center text-blue-500 mb-8
}

.alerts {
  @apply border text-sm text-black/90 rounded-md p-3
}
.success-alert {
  @apply bg-green-50 border-green-400
}
.error-alert {
  @apply bg-red-50 border-red-400
}

.none {
  @apply text-center text-neutral-400/60 text-2xl font-bold
}

.contestant-info {
    @apply mb-3
}
.contestant-info h1 {
    @apply text-sm font-semibold text-neutral-800
}
.contestant-info {
    @apply text-sm text-neutral-600
}